.table-partner {
  table {
    width: 100%;
  }

  &__thead {
    tr {
      border-bottom: 1px solid var(--color-grey--dark);
      display: flex;
      flex-wrap: wrap;
    }
    th {
      padding: 0.8rem;
      text-align: left;
      color: var(--color-accent);
      font-size: var(--font-size--medium);
    }

    th:first-child {
      color: var(--color-black);
    }

    th:first-child,
    th:nth-child(4),
    th:last-child {
      flex: 2;
    }

    th:nth-child(2),
    th:nth-child(3) {
      flex: 1;
    }
  }

  &__title {
    border-bottom: 3px solid var(--color-black-2);
    padding: 0.8rem 0;
    margin: 1rem 0;

    span {
      padding: 1rem 2rem;
      background: var(--color-black-2);
      color: var(--color-white);
    }
  }

  &__tbody {
    tr {
      display: flex;
      flex-wrap: wrap;
    }
    td {
      padding: 0.8rem;
      text-align: left;
      border-right: 1px solid var(--color-grey--dark);
      border-bottom: 1px solid var(--color-grey--dark);
    }

    td:first-child {
      color: var(--color-black);
      font-weight: var(--font-weight--medium);
    }

    td:last-child {
      border: none;
    }

    tr:nth-child(even) {
      background: var(--color-grey--light);
    }

    tr:hover {
      background: var(--color-grey--medium);
    }

    td:first-child,
    td:nth-child(4),
    td:last-child {
      flex: 2;
    }

    td:nth-child(2),
    td:nth-child(3) {
      flex: 1;
    }

    @media (max-width: 31.25em) {
      td:first-child {
        width: 8rem;
        overflow: scroll;
      }
    }
  }

  &__phone-list {
    list-style: none;
  }

  &__phone {
    margin-bottom: 0.5rem;
  }
}
