@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

:root {
  /* --color-primary: #1a2e44; */
  --color-primary: #ffd43b;
  --color-accent: #2E3191;
  --color-accent-2: #ee4d2d;
  --color-warning: #d0011b;
  --color-black: #1a1c20;
  --color-black-2: #333;
  --color-white: #fff;
  --color-grey--dark: #868e96;
  --color-grey--medium: #e7e8e9;
  --color-grey--light: #f1f3f5;

  --font-size--small: 1.4rem;
  --font-size--normal: 1.6rem;
  --font-size--medium: 2rem;
  --font-size--large: 3.6rem;
  --font-size--large-x: 4.2rem;

  --font-weight--normal: 400;
  --font-weight--medium: 500;
  --font-weight--semi-bold: 600;
  --font-weight--bold: 700;
}

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: var(--font-size--normal);
  font-family: "Poppins", sans-serif;
  font-weight: var(--font-weight--normal);
  line-height: 1.6;
  background-color: var(--color-white);
  color: var(--color-black);
}

a {
  text-decoration: none;
}

.row {
  max-width: 130rem;
  padding: 0rem 3rem;
  margin: 0 auto;
}

.btn {
  cursor: pointer;
  padding: 1.2rem 1.5rem;
  display: inline-block;
  transition: all 0.3s;
  border-radius: 5px;
}

.btn--secondary {
  background-color: var(--color-accent);
  color: var(--color-white);
}

.btn--secondary:hover {
  background-color: #2E3180;
}

@keyframes slideUp {
  from {
    height: 70vh;
  }
  to {
    height: 0vh;
    display: none;
  }
}

@keyframes slideDown {
  from {
    height: 0vh;
  }
  to {
    height: 70vh;
  }
}

/* less than 1200px */
@media (max-width: 75em) {
  html {
    font-size: 56.25%;
  }
}

/* less than 900px */
@media (max-width: 56.25em) {
  html {
    font-size: 50%;
  }
}

/* more than 1800px */
@media (min-width: 112.5em) {
  html {
    font-size: 75%;
  }
}
