* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

@keyframes slideUp {
  from {
    height: 70vh;
  }
  to {
    height: 0vh;
    display: none;
  }
}

@keyframes slideDown {
  from {
    height: 0vh;
  }
  to {
    height: 70vh;
  }
}

