@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

:root {
  --color-primary: #1a2e44;
  --color-accent: #ffd43b;
  --color-black: #202c45;
  --color-white: #fff;
  --color-grey--dark: #868e96;
  --color-grey--medium: #e7e8e9;
  --color-grey--light: #f1f3f5;

  --font-size--small: 1.4rem;
  --font-size--normal: 1.6rem;
  --font-size--medium: 2rem;
  --font-size--large: 3.6rem;
  --font-size--large-x: 4.2rem;

  --font-weight--normal: 400;
  --font-weight--medium: 500;
  --font-weight--semi-bold: 600;
  --font-weight--bold: 700;
}

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: var(--font-size--normal);
  font-family: "Poppins", sans-serif;
  font-weight: var(--font-weight--normal);
  line-height: 1.6;
  background-color: var(--color-white);
  color: var(--color-black);
}

a {
  text-decoration: none;
}

.row {
  max-width: 114rem;
  padding: 0.5rem 3rem;
  margin: 0 auto;
}

@keyframes slideUp {
  from {
    height: 70vh;
  }
  to {
    height: 0vh;
    display: none;
  }
}

@keyframes slideDown {
  from {
    height: 0vh;
  }
  to {
    height: 70vh;
  }
}
